@font-face {
  font-family: "Avara";
  src: url("../assets/fonts/Avara-Black.woff2");
}

.asa {
  font-family: "Avara";
  font-size: 24px;
  line-height: 1.25;
  font-variation-settings: "wght" 100, "wdth" 10;
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  min-height: 100vh;
  display: flex;
  z-index: -1;
}

.asa main {
  flex: 1;
  margin: 48px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.asa h1 {
  margin: 0;
}

.asa h2 {
  margin: 0;
}

.asa header {
  flex: 1;
}

.asa footer {
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.asa a {
  text-decoration: none;
  transition: font-variation-settings 0.5s;
}

.asa a:hover {
  font-variation-settings: "wght" 110, "wdth" 110;
}

.asa a::before {
  content: "";
  display: inline-block;
  background-color: #222;
  width: 0.6em;
  height: 0.6em;
  border: 2px solid #21d8aa;
  border-radius: 50%;
  margin: 0 0.4em 0 0;
  transition: background-color 0.2s;
}

.asa a:hover:before {
  background-color: transparent;
}

.asa canvas {
  border: 1px solid red;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vmax;
  height: 100vmax;
  pointer-events: none;
  z-index: 0;
  background: #c6ffdd; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f7797d,
    #fbd786,
    #c6ffdd
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
