@font-face {
  font-family: "Marius Review";
  src: url("../assets/fonts/mazius-review-regular.woff2");
}

@font-face {
  font-family: "Marius Review";
  font-style: italic;
  src: url("../assets/fonts/mazius-review-extra-italic.woff2");
}

.kaleidoscope  {
  font-family: Marius Review;
  font-size: 32px;
  line-height: 1.5;

  background-color: #111;
  color: #111;
}

.kaleidoscope div.info {
  position: fixed;
  top: 48px;
  right: 48px;
  width: 320px;
  height: calc(100vh - 96px);
  background-color: #fff;
  padding: 32px;
  text-align: left;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.kaleidoscope h1 {
  font-size:78px;
  font-style: italic;
  line-height: 1.1;
  margin: 0px;
}

.kaleidoscope p {
  margin: 10px 0px;
}

.kaleidoscope nav {
  display: flex;
  flex-direction: column;
}

.kaleidoscope nav a {
  color: #0044ff;
  text-decoration: none;
}

.kaleidoscope div.canvas-holder {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.kaleidoscope div.canvas-holder canvas {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 250px), -50%);
}