@font-face {
  font-family: "Sprat";
  src: url("../assets/fonts/sprat.woff2");
}

@keyframes inhale {
  0% {
    font-variation-settings: "wght" 20, "wdth" 120;
    opacity: 0.5;
  }
  100% {
    font-variation-settings: "wght" 100, "wdth" 120;
    opacity: 1;
  }
}

@keyframes exhale {
  0% {
    font-variation-settings: "wght" 100, "wdth" 120;
    opacity: 1;
  }
  100% {
    font-variation-settings: "wght" 20, "wdth" 120;
    opacity: 0.5;
  }
}

section {
  height: 100vh;
  width: 100vw;
  background-color: #222222;
  color: #fff;
  font-family: "Sprat";
  display: flex;
  align-items: center;
  justify-content: space-around;

  font-size: 9vmin;
  text-align: center;
}

section div {
  width: 5em;
}

section div.inhale {
  animation: inhale 5s infinite alternate;
}

section div.exhale {
  animation: exhale 5s infinite alternate;
}